:root{
    --background-primary:#1b1b1b;
    --background-secondary:#343434;
    --text-color:#fff;

}

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    background-color: var(--background-primary);
    color:var(--text-color);
    line-height:1.5;
    font-family: 'Open Sans', Arial, sans-serif;
}

nav{
    position: fixed;
    min-width: 290px;
    top:0px;
    left:0px;
    width:300px;
    height:100%;
}

#navbar ul{
    height: 80%;
    padding: 0;
    overflow-y:auto;
    overflow-x:hidden;
}

#navbar li{
    border-top:1px solid var(--text-color);
    list-style:none;
    position:relative;
    width:100%;
}

#navbar a{
    display: block;
    padding:10px 30px;
    color:var(--text-color);
    text-decoration: none;
    cursor:pointer;
    transition: all 1.5s;
}

#navbar a:hover{
    background-color: var(--text-color);
    color: var(--background-primary);
}

.head{
    margin:10px;
    text-align: center;
    font-size:1.8em;


}

#main-doc{
    position: absolute;
    margin-left:310px;
    margin-bottom:110px;
    padding:20px;
}

article{
    margin:15px;
    font-size:0.96em;
}

section li{
    margin: 15px 0 0 20px;
}

p{
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

h1{
    font-size:2rem;
    margin:15.360px 0;
}

h2{
    font-size:1.8rem;
    margin: 15.360px 0;
}

code{
    display:block;
    text-align: left;
    white-space: pre-line;
    position:relative;
    word-break:normal;
    word-wrap:normal;
    line-height:2;
    background-color:var(--background-secondary);
    padding:15px;
    margin:10px;
    border-radius:5px;
}

.mozlink{
    color:var(--text-color);
    cursor:pointer;
    text-decoration: underline;
}

@media only screen and (max-width: 480px) {

    #navbar {
        position: absolute;
        width: 118%;
        max-height:275px; 
        top: 0;
        padding: 0;
        margin: 0;
        border:none;
    }

    #navbar ul {
        border: 1px solid;
        height: 207px;
    }

    #navbar li{
        border-top: 1px solid;
        list-style:none;
        position:relative;
        width:100%;
    }

    #navbar a {
        padding: 0px 11.2px 0px 11.2px;
        padding-bottom: 30px;
        text-align: center;
        font-size:20px; 
    }

    #main-doc{
        position:relative;
        margin-left:0px;
        margin-top:270px;
    }

    #video{
        width:450px;
    }
}
